<div>
  ユーザー一覧
  <div class="">
    <%= form_with url: selects_path, method: :get do |form| %>
    <div class="mb-10"> <%= form.text_field :keyword %></div>
    <p>※15分につき15リクエストまで</p>
    <div class="mb-8">
      <%= form.check_box :filter_messaged %>
      <%= form.label :filter_messaged, "すでにDM済みのユーザーを省く" %>
    </div>
    <div><%= form.submit "検索" %></div>
    <% end %>
  </div>
  <br>
  <% @users.each do |user| %>
  <% unless user[:already_sent_message] %>
  <%= user[:name] %>
  <%= image_tag user[:profile_image_url] %>
  <%= user[:description] %>
  <%= link_to "https://twitter.com/#{user[:screen_name]}", "https://twitter.com/#{user[:screen_name]}"%>
  <% end %>
  <br>
  <br>
  <br>
  <% end %>
</div>